*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --secColor:rgba(255,255,255,0.7);
    --mainColor:#f4623a;
}
@font-face {
    src: url(../Merriweather/Merriweather-Bold.ttf);
    font-family: merriBolod;
}
.container {
    width: 80%;
    margin: auto;
}
body {
    font-family: 'Merriweather', serif;
}
@media (max-width: 575.98px){
    body{
        /* background-color: red; */
    }
}
.header{
    background-color: blue;
} 
.navbar {
    /* background-color: rgb(95, 155, 95); */
    position: fixed;
    width: 100%;
    margin-top: 15px;
}
.navbar .container {
    /* background-color: yellow; */
    
    overflow: auto; 
}

.logo {
    float: left;
    width: 40%;
    color: var(--secColor);
    text-transform: capitalize;
    font-size: 30px; 
}
.nav{
    float: left;
    width: 45%;
    text-align: right;
    font-size: 19px;
    padding-top: 8px;
   
}

@media (max-width: 575.98px) { 
    .logo,.nav {
        width: 100%;
        text-align: center;

    }
    .logo {
        margin-bottom: 20px;
    }
    
 }


 @media (min-width: 575.98px) and (max-width: 767.98px) { 
    .logo,.nav {
        width: 100%;
        text-align: center;

    }
    .logo {
        margin-bottom: 20px;
    }
    
 }
 .nav .list {
    list-style:none ;

}
.list-iteam{
    display: inline-block;
}
.link-nav {
    text-transform: capitalize;
    color: var(--secColor); 
    text-decoration: none; 
    margin-right: 15px;
}
@media (max-width: 575.98px){
    .navbar{
        overflow: hidden;
    }
    .logo{
        display: inline-block;
        width: 100%;
        text-align: center;
        /* overflow: hidden; */
    }
    .nav{
        padding-top: 10px;
    }

}

.header-content{
    background-image: url(../img/WhatsApp\ Image\ 2021-11-16\ at\ 12.37.16\ PM.jpeg);
    height: 100vh;
    /* background-position:0 -120px; */
    background-size: cover;
}
.header-content-iteams{
    /* background-color: violet; */
    text-align: center;
    padding-top: 250px; 
}
.main-title{
    color:#fff;
    text-transform:uppercase;
    font-size: 40px;
    width: 55%;
    margin: auto;
}
.line{
    background-color: var(--mainColor);
    height: 3px;
    width: 80px;
    display: block;
    margin: 20px auto;
}
.main-description{
    color: var(--secColor);
    font-size: 19px;
    width: 41%;
    margin: auto;
}
.link{
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #f4623a;
    width: fit-content;
    margin: 30px auto;
    padding: 25px 50px; 
    border-radius: 29px;
    text-transform: uppercase;
}
@media (max-width: 575.98px){
    .header-content{
    height: 100vh;
    background-size: cover;
    }
    .main-title{
        font-size: 32px;
        width: 80%;
        text-align: center;
    }
    .main-description{
        width: 80%;
        font-size: 17px;
    }
    .about-description{
        width: 60%;
        font-size: 13px;
    }
}
.overlay{
    background-color:linear-gradient(to bottom,rgba(245,151,148,0.5));
    height:100%;
}
.about{
    background-color: var(--mainColor);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-heading{
    color: white;
    /* padding-top: 100px; */
}
.about .line{
    background-color:white;
}
.about-description{
    color: rgba(255, 255, 255, 0.75);
    width: 60%;
    margin: auto;
}
.about .link{
    background-color:#fff;
    color:#000;
    text-transform: uppercase;
}
.services{
    padding-top:100px;
    text-align: center;


}
.services-heading{
    text-transform: capitalize;
}
.services-iteams{
    overflow: auto;
    margin-top: 30px;
}
.service-iteam{
    float: left;
    width: 25%;
    /* padding:60px;  */
    /* height: 145.33px; */
}
.services .container{
    width: 80%;
    margin: auto;
    overflow: auto;
}
.service-iteam .fas{
    color: var(--mainColor); 
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.service-iteam .far{
    color: var(--mainColor); 
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.service-title{
    text-transform: capitalize;
    padding-top: 8px;
}
.service-description{
    width: 70%;
    color: #6c757d;
    margin: auto;
    font-size:18;
    padding-top: 8px;
}
@media (max-width: 575.98px){
    .services .container{
        width:98%;
    }
    .service-description{
        width: 90%;
    }
}
/* start portfolio */
.portvfolio{
    padding-top: 50px;
}

.portvfolio-items{
    overflow: hidden;
    
}

.portvfolio .portvfolio-item{
    float:left;
    width: 33.33%;
    position: relative;
}
.portvfolio img{
    display: block;
}

.portvfolio .overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mainColor);
    opacity: 0;

}

.overlay-content{
    text-align: center;
    padding-top: 150px;
}
 .portvfolio-main{
     color: var(--secColor);
     font-size: 15px;
 }

 .portvfolio-second{
     color: #fff;
     font-size: 20px;
 }

 .portvfolio-item:hover .overlay{
   opacity: 2;
 }
 .portvfolio-main{
     text-transform:uppercase;
 }
 .portvfolio-second{
     text-transform:capitalize;
 }
 @media (max-width: 575.98px){
    .portvfolio-item{
        width: 100%;
        float: none;
    }
}
 /* end portvolio */

 /* start download */
 .download{
     background-color: rgb(0 0 0 / 80%);
     text-align: center; 
     padding-top: 100px;
     padding-bottom: 80px;
 }
 .download-heading{
     color: white;
     text-transform:capitalize;
     font-size: 30px;
 }
 .download .link{
     background-color:#fff;
     color: black;
 }
 /* end download */

 /* start contact */
 .contact{
     padding-top: 60px;
 }
.contact-title{
    text-align: center;
    text-transform:capitalize;
}
.contact-description{
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
    color: #6c757d;
}
.contact-iteams{
    overflow: hidden;
    width: 60%;
    margin: auto;
    margin-left: 212px;
    padding-bottom: 50px;
}
.contact-iteam{
    float: left;
    width: 50%;
    text-align: center;
}
.contact-iteams .fas{
    display:block;
    font-size: 40px;
    color: #6c757d;
    padding-top: 40px;
    margin-bottom: 10px;
}
.email{
    color: #f05f40;
}
/* start footer */
.footer{
color: #6c757d;
background-color:#f8f9fa;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
@media (max-width: 575.98px){
    .contact-description{
        width: 90%;
        font-size: 17px;
    }
    .contact-iteams{
        width: 90%;
        margin: auto;
    }
}
 /* end contact */

